[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
